@import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css);


/* input 컴포넌트 */
.form-input {
  --spacing: 10px;

  display: flex;
  flex-flow: row nowrap;
  gap: var(--spacing);
  align-items: center;

  label {
    white-space: nowrap;
  }

  input {
    flex-grow: 1;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 1px 1px 1px 8px;
    height: 24px;
    block-size: 24px;
    width: 100%;
    /* 원래 크기가 auto 였다가 부모 크기를 읽기 때문에 오버플로우 막음 */

  }

  input:focus {
    outline: 0;
  }

  &.form-input:focus-whith {
    border-bottom: 1px solid red;
  }
}


/* button 컴포넌트 */
.button {
  --bg-color: var(--orange-200);
  --color: var(--white);
  --radius: 3px;

  border: 0;
  padding: 16px 10px;
  background-color: var(--bg-color);
  color: var(--color);
  border-radius: var(--radius);
  white-space: nowrap;

  &.search-button {
    background-color: black;
    padding: 0 10px;
  }
}


/* 검색 폼 레이아웃 스타일링 */
.search-group {
  background: yellow;
  margin: 50px;
  background-image: linear-gradient(to bottom, #ccc, #fff);
  border: 1px solid #aaa;
  border-bottom: #fff;
  border-radius: 10px;
  padding: 15px 25px 10px;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;

  .form-input {
    flex-grow: 1;
  }

  [class*="fab"] {
    padding-right: 0.25em;
  }

  input,
  button {
    height: 30px;
  }

  button {
    font-size: 0.875rem;
  }
}