@import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css);


body,
h1 {
  margin-left: 20px;
  font-size: 16px;
}

.tabs {
  width: 50%;
  inline-size: 50%;
  position: relative;
}

/* 탭 컴포넌트 */
.tab-list {

  display: flex;
  flex-flow: row nowrap;
}

.tab {
  /* 텍스트가 가운데 정렬 하기 위해 flex, flex-flow, justify-content */
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: lightgray;
  color: gray;

  &.is-selected {
    background-color: white;
    color: orangered;
  }
}

/* 탭 패널, 탭 패널 아이템 */
.tab-panel {
  /* display: flex; */
  padding-top: 24px;
  display: none;
  flex-flow: column nowrap;
  gap: 0.5rem;

  &.is-selected {
    display: flex;
  }

  .tab-panel-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    a {
      /* display: flex; */
      /* flex-flow: row nowrap; */
      /* gap: 0.5rem; */
      flex: 1 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    span {
      flex: 0 0 auto;
    }
  }
}

.tabmore {
  position: absolute;
  top: 0;
  right: 0;
}