@import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css);
@import url(./grid.css);
@import url(./logo.css);
@import url(./burger-button.css);
@import url(./menu.css);
@import url(./iframe.css);



/* 웹카페 반응형 */
.container {
  /* width: 100%; */
  min-height: 100vh;
  /* 그리드 했는데 반응이 없다? 높이를 고정해서 그럼. min-heigh를 줘야*/
  display: flex;
  flex-flow: column nowrap;
  gap: 1.25rem;


  .header,
  .menu,
  .navigation,
  .footer {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }

  .main {
    /* flex-grow: 1; */
    flex: 1 0 auto;
    gap: 24px;
  }
}

/* 추천 서적 - book */
.book {}


/* 새소식 */
.news {}

/* 게시판 */
.board {}

/* 인기사이트 */
.favorite {}

/* 트위터 */
.twitter {}


.news .sprite {
  background-position: 0 -230px;
}