@import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css);
@import url(./grid.css);


/* 웹카페 반응형 */
.container {
  /* width: 100%; */
  min-height: 100vh;
  /* 그리드 했는데 반응이 없다? 높이를 고정해서 그럼. min-heigh를 줘야*/
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /*이걸 하면 각각의 콘텐츠 너비로 줄어듦 */

  .header,
  .navigation,
  .footer {
    height: 100px;
    width: 100%;
  }

  .main {
    /* flex-grow: 1; */
    flex: 1 0 auto;
    max-width: 100%;
    width: 90%;
    gap: 24px;
  }
}

/* 햄버거 버튼 */
.burger-button {
  background: red;
  border: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  position: relative;

  span {
    width: 100%;
    height: 20%;
    position: absolute;
    background-color: white;
    left: 0;
    border-radius: 20px;
  }

  .burger-bar-top {
    top: 0;
  }

  .burger-bar-middle {
    top: 50%;
    translate: 0 -50%;
  }

  .burger-bar-bottom {
    top: 100%;
    translate: 0 -100%;
  }
}

/* tansition - 애니메이션 */
/* 내비게이션 */
.menu {
  position: fixed;
  background: yellowgreen;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  /* 자기 상자 크기만큼! */
  translate: -100% 0;
  /* transition-property: translate, background;
  transition-duration: 2000ms 2000ms;
  transition-delay: 0ms 5000ms;
  transition-timing-function: ease-in-out; */
  /* transition: translate 1000ms 1000ms ease-in-out;
  transition: translate 200ms 0ms ease-in-out, background 2000ms 2000ms ease-in-out;*/


  &.is-active {
    translate: 0 0;
    /* transition-property : 전이 속성 알려주기 */
    /* transition-property, transition-duration가 필수 */
    background: hotpink;
  }

  /* a {
    font-size: 20px;

    &:hover {
      color: purple;
      transition: color 1s;
    } */
}