body {
  color: #ff0000;
  font-size: 30px;
}

div {
  border: 1px solid blue;
}

h1 {
  color: green !important;
}

.heading {
  color: pink;
}

h1.heading {
  color: purple;
}

.techit {
  color: gray;
}

.container {
  color: blue;
}