@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
}

/* 헤더 */
.header {
  background-color: yellow;
  width: 940px;
}

/* 비주얼 */
.visual {
  background-color: lightblue;
  inline-size: 940px;
  /* width랑 같나? */
}

/* 메인 */
.main {
  background-color: lightsalmon;
}

/* 슬로건 */
.slogan {
  background-color: lightgreen;
}

/* 푸터 */
.footer {
  background-color: lightslategray;
}