@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --container-size: 940px;
}


body {
  font-family: "Noto Sans KR", sans-serif;
}

.header,
.visual,
.main,
.slogan,
.footer {
  width: var(--container-size, 940px);
  /*940px은 --container-size 없을 때 저걸로 해달라는거임*/
  margin: 0 auto;
}


/* 헤더 */
.header {
  background-color: yellow;

}

/* 비주얼 */
.visual {
  background-color: lightblue;

}

/* 메인 */
.main {
  background-color: lightsalmon;

}

/* 슬로건 */
.slogan {
  background-color: lightgreen;

}

/* 푸터 */
.footer {
  background-color: lightslategray;

}