<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- 폰트 어썸 쓸때 필요한 링크 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/components/css/search.css" />
  <title>Document</title>
</head>

<body>
  <h1>검색 폼</h1>
  <form action="/ " class="search">
    <div class="search-group">
      <div class="form-input">
        <label for=""><span class="fab fa-sistrix" aria-hidden="true"></span>자료 검색</label>
        <input type="search" id="search" name="search" required placeholder="검색어를 입력하시오" />
      </div>
      <button type="submit" class="button search-button">검색</button>
    </div>
  </form>
</body>

</html>